body
{
	color:#000;
}
.tweet_text
{
	margin: 20px 0px 20px 0px;
}
.media
{
	width:100%;
}
.clr
{
	clear:both;
}
.tweets-container
{
	width: 960px;
	margin: 0 auto;
}
.confirm
{
	display:none;
}
.alert
{
	margin-top: 50px;
}